:root {
    //color
    --bg-color-orange: #F8B547;
    --bg-color-purple: #7B3B8C;
    --bg-color-green: #6BC79D;
    --bg-color-turquoise: #8ED4E2;
    --bg-color-red: #E15754;
    --bg-color-dark-grey: #222222;
    --bg-color-white: #ffffff;
    --bg-color-black: #000000;
    --bg-color: #FDF3E5;
    //fonts
    --font-family-lato: 'Lato', sans-serif;
    --font-family-noto: 'Noto Serif', serif;
}

.slider {
    overflow: hidden;
    width: 60%;
    justify-content: center;
    margin: auto;
    &-btn {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 45%;
        border-radius: 50%;
        z-index: 2;
        cursor: pointer;
        border: none;
        background-color: var(--bg-color-white);
    }
    &_arrow-left {
        left: 0px;
    }
    &_arrow-right {
        right: 0px;
    }
}

@mixin align-center {
    display: flex;
    align-items: center;
}

@mixin column {
    display: flex;
    flex-direction: column
}

@mixin space-between {
    @include align-center;
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

* {
    font-family: var(--font-family-noto);
    margin: 0;
}

h1 {
    font-size: 6rem;
    font-weight: 900;
    width: 90%;
}

h2 {
    font-size: 50px;
    font-weight: 900;
}

section {
    margin: 130px 0px;
}

.section {
    margin: 130px 0px;
    &-feedback {
        &_team {
            display: flex;
        }
        &_heading {
            @include space-between;
        }
        &_text {
            font-size: 1.25em;
            font-family: var(--font-family-lato);
            color: var(--bg-color-dark-grey);
            opacity: 0.8;
        }
    }
    &_block {
        &-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &-card {
            @include align-center;
            justify-content: space-evenly;
            background: var(--bg-color-white);
            width: 470px;
            height: 145px;
            position: relative;
            border-radius: 10px;
            z-index: 1;
            box-shadow: 5px 9px 45px 4px rgba(0, 0, 0, 0.03);
            margin: 15px;
            &_personal-data h4 {
                font-size: 25px;
            }
            &_personal-data p {
                font-family: var(--font-family-lato);
                font-size: 1.1em;
                font-weight: 400;
            }
            &_img {
                z-index: 2;
            }
            &_arrow {
                position: absolute;
                left: -10px;
                top: 5px;
            }
            &-block {
                margin: 10px;
                box-sizing: border-box;
                width: 470px;
                background-color: var(--bg-color-white);
                font-size: 10px;
                height: 300px;
                padding: 0px 31px;
                box-shadow: 5px 9px 45px 4px rgba(0, 0, 0, 0.03);
                border-radius: 10px;
                &:hover {
                    transform: scale(1.1);
                }
            }
            &-team {
                @include align-center;
                background: var(--bg-color-white);
                height: 160px;
                position: relative;
                border-radius: 10px;
                z-index: 1;
            }
        }
        &-card:hover {
            transform: scale(1.1);
        }
        &-heading {
            z-index: 2;
            font-size: 25px;
            font-weight: 900;
        }
        &-btn {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background-color: var(--bg-color);
            position: relative;
        }
        &-btn img:hover {
            transform: translateX(25px);
            cursor: pointer;
        }
    }
    &-img {
        width: -webkit-fill-available;
    }
    &-feedback_badges {
        display: flex;
        justify-content: space-evenly;
        margin: 65px 0px;
        flex-wrap: wrap;
    }
    &-title {
        width: 50%;
        margin-bottom: 6.3em;
    }
    &-name {
        text-transform: uppercase;
        margin-left: 12%;
        font-size: 18px;
        letter-spacing: 0.25em;
    }
    &_block-background {
        width: 200px;
        height: 90px;
        position: absolute;
        left: 8%;
        z-index: -5;
    }
}

body {
    background-color: var(--bg-color);
}

.container {
    max-width: 1700px;
    margin: auto;
    padding: 0px 100px;
}

header {
    @include space-between;
    margin: 35px 0px;
}

.logo {
    font-size: 2.5em;
    cursor: pointer;
}

#logo path:nth-child(1) {
    stroke-dasharray: 683px;
    stroke-dashoffset: 683px;
    animation: line-anim 2s ease forwards, scale 1.1s, fill 4.5s ease-in-out forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 428px;
    stroke-dashoffset: 428px;
    animation: line-anim 2s ease forwards, scale 1.1s, fill 4.5s ease-in-out forwards;
}

#logo path:nth-child(3) {
    stroke-dasharray: 567px;
    stroke-dashoffset: 567px;
    animation: line-anim 2s ease forwards, scale 1.1s, fill 4.5s ease-in-out forwards;
}

#logo path:nth-child(4) {
    stroke-dasharray: 316px;
    stroke-dashoffset: 316px;
    animation: line-anim 2s ease forwards, scale 1.1s, fill 4.5s ease-in-out forwards;
}

#logo path:nth-child(5) {
    stroke-dasharray: 469px;
    stroke-dashoffset: 469px;
    animation: line-anim 2s ease forwards, scale 1.1s, fill 4.5s ease-in-out forwards;
}

#logo path:nth-child(6) {
    stroke-dasharray: 567px;
    stroke-dashoffset: 567px;
    animation: line-anim 2s ease forwards, scale 1.1s, fill 4.5s ease-in-out forwards;
}

.btn {
    @include align-center;
    padding: 15px 45px;
    border: none;
    border-radius: 50px;
    justify-content: center;
    background-color: var(--bg-color-purple);
    color: var(--bg-color-white);
    transition: 0.3s;
    animation: 3s linear 1s infinite running slidein;
}

.btn:hover {
    background-color: var(--bg-color-dark-grey);
    color: var(--bg-color-orange);
    cursor: pointer;
}

.navbar_list {
    list-style: none;
    display: flex;
    font-size: 1.25em;
    & li {
        position: relative;
        padding: 5px 30px;
    }
    & li a {
        color: var(--bg-color-dark-grey);
        text-decoration: none;
        transition: all .35s;
        position: relative;
        z-index: 2;
    }
    & li a:hover {
        color: var(--bg-color);
    }
    & li:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: var(--bg-color-dark-grey);
        transition: all .35s;
        border-radius: 50px;
        color: var(--bg-color);
    }
    & li:hover:after {
        width: 100%;
    }
}

.heading {
    position: relative;
    & h2 {
        width: 95%;
    }
    &-text {
        font-family: var(--font-family-lato);
        opacity: 0.8;
        margin: 30px 0px;
        width: 70%;
        font-size: 1.25em;
    }
}

.main-page {
    @include column;
    position: relative;
}

.main-page_block,
.about-us_block {
    @include space-between;
}

.main-page_heading-block,
.main-page_img,
.about-us_heading-block,
.about-us_img {
    width: 45%;
    position: relative;
    z-index: 1;
}

.work-section_heading,
.about-us_heading {
    padding: 25% 0px;
}

.background-circle-big {
    width: 150px;
    height: 150px;
    background-color: var(--bg-color-orange);
    border: none;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: -9%;
    top: -2%;
}

.background-circle-big:hover {
    transform: rotate(90deg) scale(2) translateY(-50%) translateX(50%);
}

.background-circle {
    width: 100px;
    height: 100px;
    background-color: var(--bg-color-orange);
    border: none;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: -3%;
    top: -5%;
}

.blue-bg {
    background-color: var(--bg-color-turquoise);
}

.green-bg {
    background-color: var(--bg-color-green);
}

.red-bg {
    background-color: var(--bg-color-red);
}

.main-page {
    &_btn {
        background-color: var(--bg-color-dark-grey);
        color: var(--bg-color-white);
    }
    &_btn:hover {
        background-color: var(--bg-color-orange);
        color: var(--bg-color-dark-grey);
    }
    &_navigation {
        @include align-center;
        width: 90%;
        background-color: var(--bg-color-white);
        border-radius: 10px;
        justify-content: space-evenly;
        padding: 20px;
        margin: 50px 0px;
        transform: translateX(15%);
    }
}

.work-section {
    @include space-between;
    &_info-block,
    &_img {
        width: 45%;
    }
}

.contact {
    &_container {
        @include align-center;
    }
    &_img {
        width: 50%;
    }
    &-info {
        width: 50%;
        box-sizing: border-box;
        padding: 0px 35px;
        box-sizing: border-box;
        margin-left: 8%;
        &_heading-block {
            position: relative;
        }
    }
    &-form_data>input {
        height: 60px;
        border: none;
        box-shadow: 5px 9px 45px 4px rgba(0, 0, 0, 0.03);
        border-radius: 10px;
        padding-left: 20px;
        outline: none;
    }
    &-form_data {
        display: flex;
        justify-content: space-between;
        margin: 70px 0px 30px 0px;
    }
    &-form_name {
        width: 35%;
    }
    &-form_email {
        width: 55%;
    }
    &-form_message {
        width: 96%;
        box-shadow: 5px 9px 45px 4px rgba(0, 0, 0, 0.03);
        border-radius: 10px;
        height: 190px;
        border: none;
        padding-left: 20px;
        padding-top: 22px;
        margin-bottom: 20px;
        outline: none;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 350px;
    margin: 50px 0px;
    &>div {
        padding: 0px 5px;
    }
    &_social-networks {
        &_links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
        }
    }
    &_locations {
        @include column;
        justify-content: space-between;
        &_city {
            &>p,
            &>p a {
                font-family: var(--font-family-lato);
                color: var(--bg-color-dark-grey);
                opacity: 0.8;
                font-size: 1.25rem;
                padding-top: 10px;
                text-decoration: none;
            }
            & h3 {
                font-size: 25px;
            }
        }
    }
    &_business-info {
        width: 385px;
        p {
            font-family: var(--font-family-lato);
            color: var(--bg-color-dark-grey);
            opacity: 0.8;
            font-size: 1.25rem;
            margin-top: 15px;
        }
    }
    &_contacts {
        @include column;
        height: 100%;
        justify-content: space-between;
        &>p {
            font-family: var(--font-family-lato);
            color: var(--bg-color-dark-grey);
            opacity: 0.8;
            font-size: 1.25rem;
        }
        &_email-info {
            @include column;
            height: 50%;
            width: 90%;
            justify-content: space-between;
            &>p,
            &>p a {
                font-family: var(--font-family-lato);
                color: var(--bg-color-dark-grey);
                opacity: 0.8;
                font-size: 1.25rem;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .main-page_block,
    .about-us_block,
    header,
    .work-section,
    .contact_container,
    .footer {
        @include column;
    }
    .navbar {
        padding: 25px 0px;
    }
    .main-page_navigation {
        margin: 0px;
        transform: none
    }
    .main-page_navigation>img {
        width: 50px;
    }
    .slider {
        height: 320px;
        position: relative;
        cursor: pointer;
    }
    .slider:hover {
        scale: none;
    }
    .slide {
        position: absolute;
    }
    .footer {
        text-align: center;
        align-items: center;
    }
    .footer>div {
        margin: 20px 0px;
    }
    .footer_locations_city {
        margin: 15px 0px;
    }
    .section_block-card-block:hover {
        transform: none;
    }
    .section_block-card-block {
        box-shadow: none;
    }
}

.message {
    animation: sway1 5s infinite;
}

#leave1 {
    animation: wiggle 1s linear infinite;
}

#leave3 {
    animation: wiggle2 2s linear infinite;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0%;
    }
}

@keyframes fill {
    to {
        fill: var(--bg-color-black);
    }
}

@keyframes scale {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes sway1 {
    0% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(8deg);
    }
}

@keyframes wiggle {
    0% {
        transform: skewX(1deg);
    }
    20% {
        transform: skewX(0deg);
    }
    100% {
        transform: skewX(1deg);
    }
}

@keyframes wiggle2 {
    0% {
        transform: translate(-5px, 1px);
    }
    20% {
        transform: translate(-2px, 1px);
    }
    50% {
        transform: translate(5px, 1px);
    }
    70% {
        transform: translate(-2px, 1px);
    }
    100% {
        transform: translate(-5px, 1px);
    }
}